li, p {
    background-color: gray;
}

#header-1{
    color: green;
}

.Table{
    color: crimson;
}
[Title]{
    color: darkcyan;
}
[Type]{
    color: darkgreen;
}

[Title="Title Value"]{
    color: darkmagenta;
}

.Foodie > li {
    color: red;
}

.Essentials li {
    color: aqua;
}

.Table[Title] {
    color: brown;
}

div {
    border: solid 1px black;
    margin: 3px;
    padding: 5px;
}